/**
 * laJapalenaProgress
 */
#top-progress-bar {
  z-index: 500 !important;
  background-color: rgba(244,67,54, 1) !important;
  height: 1px !important;
  -webkit-box-shadow: 0 0 3px 0 rgba(244,67,54, 1);
  -moz-box-shadow: 0 0 3px 0 rgba(244,67,54, 1);
  box-shadow: 0 0 3px 0 rgba(244,67,54, 1);
}


.reading-wrapper {
  color: #2E2E2E;
}
.reading-label {
  font-weight: bold;
}

/* post-list specific css */
.post-list .post-image {
  max-width: 20rem;
}

.post-list .post-excerpt {
  padding-left: 2rem;
}

.post-list .post-excerpt a {
  text-decoration: none;
}

